[Unit]
Description=Reload waybar css

[Service]
Type=oneshot
ExecStart=systemctl --user restart waybar.service 
ExecStart=notify-send -e -a "Waybar" -i %h/Pictures/waybar-logo.png "Waybar" "Configuration changed, reloading..."
