* {
    border: none;
    border-radius: 0;
    font-family: "Clear Sans", "Iosevka Nerd Font Propo";
    font-size: 15px;
    min-height: 0;
    border: none;
    padding: 0;
    text-shadow: none;
    box-shadow: none;
    transition: none;
    -gtk-icon-shadow: none;
}

window#waybar {
    background-color: rgba(43, 48, 59, 0.732);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.empty {
    color: rgba(0,0,0,0);
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button:hover {}

#workspaces button.active {}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#workspaces .taskbar-window {
    font-weight: normal;
    padding: 10px;
    border:none;
    background: white;
}



#workspaces .taskbar-window.active {
    background:green;
}

#backlight,
#battery.bat1,
#battery.bat2,
#clock,
#cpu,
#disk,
#idle_inhibitor,
#memory,
#mode,
#network.vpn,
#network.wifi,
#network.ethernet,
#network.disconnected,
#pulseaudio,
#taskbar,
#temperature,
#tray,
#custom-poweroff {
    padding: 0 6px;
    margin: 0 0px;
    color: #ffffff;
}

#temperature.critical {
    background-color: #eb4d4b;
}
