
 

@theme "~/.cache/wal/colors-rofi-dark.rasi"



* {
    background:                     @color0;
    background-alt:                 @color0;
    foreground:                     @color7;
    border:               			@color7;
    border-alt:               		@color7;
    selected:               		@color5;
    urgent:                         @color7;
}