configuration {
	application-fallback-icon: "/home/oriely/Pictures/sittingcat.png";
	display-drun: "Activate";
	display-run: "Execute";
	display-window: "Window";
	show-icons: true;
  hide-scrollbar: true;
  sidebar-mode: false;
  drun-display-format: "{name}";
  disable-history: false;
  font:	"Iosevka 13";
  separator-color: white;
  
}
