

* {

    margin:0;
}


window#waybar {
    background: rgb(0, 0, 0);
    color: white;
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: Hack Nerd Font Regular, Roboto, Helvetica, Arial, sans-serif;
    font-size: 20px;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
}

#workspaces {
    padding:0;
}

#workspaces button {
    background-color: rgb(35, 34, 37);
    color: #ffffff;
    box-shadow: none;
    text-shadow: none;
    padding: 5px;
    border-radius: 0;
    margin-top:10px;
    margin-bottom: 10px;
    margin-right:10px;
    border:1px solid rgb(70, 70, 70);
}

#workspaces button:active {

    background-color: rgb(103, 66, 176);

}


#workspaces .workspace-label {
    border-right: 1px solid rgb(70, 70, 70);
    font-size:14px;
    padding: 10px;
    margin-right:5px;
}



#workspaces .taskbar-window {
    font-weight: normal;
    padding-left: 10px;
    padding-right: 10px;
    border:none;
}


#workspaces .taskbar-window:hover {
    background-color:green;
}


#workspaces button.visible .taskbar-window {
}

#workspaces button.visible .taskbar-window,
#workspaces button.visible .workspace-label {
    border-color: rgb(110, 110, 110);
}

#workspaces .taskbar-window.active {
    background-color: black;
}

#workspaces .taskbar-window image {
    margin-top: 1px;
}

#workspaces button.urgent {
    background-color: @urgent-color;
} 


#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd,
#custom-power,
#custom-notification,
#custom-app-menu {
    padding:5px 10px;
    color: #ffffff;
    background-color: gray;
    /* border-radius:20px; */
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

.modules-right widget > * {
    margin-left:10px;
    margin-top:10px;
    margin-bottom:10px;
}

.modules-right widget:last-child {
   margin-right:10px; 
}

#clock {
    background-color: #64727D;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    color: #ffffff;
}

#power-profiles-daemon.balanced {
    color: #ffffff;
}

#power-profiles-daemon.power-saver {
    color: #000000;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: #2ecc71;
    color: #ffffff;
}

#memory {
}

#disk {
}

#backlight {
}

#network {
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio {
    color: #ffffff;
}

#pulseaudio.muted {
    background-color: #b64848;
    color: #2a5c45;
}

#wireplumber {
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#custom-media {
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}

#custom-power {
    font-size:20px;
    padding:0 15px 0 10px;
}

#custom-power {
    background-color: rgb(43, 150, 116);
    margin:10px;
}
#custom-power:hover {
    background-color: rgba(20, 168, 121, 0.438);
}
#custom-power:active {
    background-color: rgb(139, 180, 167);
}

#custom-notification {
    margin:10px;
    font-size:20px;
    padding-left: 10px;
    padding-right: 13px;
}

#custom-app-menu {
    background-color: rgb(43, 150, 116);
    margin:10px;
    font-size:34px;
    padding-left: 10px;
    padding-right: 17px;
}